@model string

@{
    ViewData["Title"] = "اعادة تعيين كلمة السر";
}
<link href="~/css/Login/StyleSheet.css" rel="stylesheet" />
<link href="~/css/Login/all.css" rel="stylesheet" />
<link href="~/css/Login/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Login/style.css" rel="stylesheet" />
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

<h1 class style="text-align:center" ; bg-info text-white">نسيت كلمة السر </h1>

<div class="text-danger" asp-validation-summary="All"></div>

<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img style="display:flex;max-width:100%" src="~/img/newmce.png" alt="sing up image"></figure>
                </div>
                <div class="signin-form">
                    <h3 class="form-title">الرجاء ادخال بريدك الالكتروني </h3>


                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label placeholder="">  </label>
                            <input name="email" class="form-control" />
                        </div>
                        <a href="https://localhost:44398/Account/ForgotPasswordConfirmation">

                            <button  style="font-weight: 800; color: white; background-color: #2c3e50; font-family: Arial; text-align: center;" class="btn btn-primary" type="submit">ارسال</button>
                        </a>

                        
                    </form>
