@{
    ViewData["Title"] = "الصفحة الرئيسية";
}
<!-- Main css -->
<link href="~/css/Login/style.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="~/img/newmce.png" >



<div style="margin-right: 20%; width: 80%; display: inline-block; ">
    


    <img src="~/img/mce.gif" />
        
</div>
<div class="text-center">

</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/confirm_password.js"></script>

